.results {
  font-size: 25px;
  line-height: 25px;
}

.submitButton {
  padding: 20px;
  display: block;
}

.shadow-sm {
  background-color: #cccccc;
}

.container {
  padding: 1% 0;}

.hero-image {
  background-image: url("../pictures/1.png");
  background-color: rgb(7, 7, 7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}